[submodule "eureka-server"]
    path = eureka-server
    url = git@github.com:SpringCloudify/eureka-server.git
[submodule "eureka-client"]
    path = eureka-client
    url = git@github.com:SpringCloudify/eureka-client.git
[submodule "consul-client"]
	path = consul-client
	url = git@github.com:SpringCloudify/consul-client.git
[submodule "eureka-consumer"]
	path = eureka-consumer
	url = git@github.com:SpringCloudify/eureka-consumer.git
[submodule "eureka-consumer-ribbon"]
	path = eureka-consumer-ribbon
	url = git@github.com:SpringCloudify/eureka-consumer-ribbon.git
[submodule "eureka-consumer-feign"]
	path = eureka-consumer-feign
	url = git@github.com:SpringCloudify/eureka-consumer-feign.git
[submodule "config-client"]
	path = config-client
	url = git@github.com:SpringCloudify/config-client.git
[submodule "config-server"]
	path = config-server
	url = git@github.com:SpringCloudify/config-server.git
[submodule "config-repo-demo"]
	path = config-repo-demo
	url = git@github.com:SpringCloudify/config-repo-demo.git
